header {
    display: flex;
    justify-content: center;
    margin: 0 0 50px;
}

#search-container {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    
}

#bodypart {
    padding: 5px 10px;
}

#search {
    padding: 5px 10px;
    border-radius: 4px;
}

.search-btn {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
}